<!DOCTYPE html>
<html lang="en">

<head>

  <% include ./layout/head %>
  <title>Clean Blog - About</title>

</head>

<body>

  <!-- Navigation -->
  <% include ./layout/nav %>

  <header class="masthead" style="background-image: url('/static/theme/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
            My name is Cuong Ba (Cuong Ba Ngoc), you may call me Cuong. I am a Software Engineer and I improving my skills to become a full-stack developer. Now, I working as Web Developer in Ha Noi, Viet Nam. I like to share and be shared knowledge and experiences with other people, because it is the way quickly to improve myself. 
        </p>
        <p>
            I graduated from Post and Telecommunication Institute of Technology with a Engineering Software degree. I very like studying new technologies and special is open-source platform. I have many loves for Linux, Git, Python, Java and all linux-based technologies.
        </p>
        <p>
            You can find me on :
        </p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <% include ./layout/footer %>

</body>

</html>
